{% extends 'reset_password/base.html' %} {%block content%}
<div class="container" style="padding: 16px;">
  <div class="row justify-content-md-center">
    <div class="card text-center" style="width: 50vw;">
      <div class="card-body">
        <form action="" method="post">
          {% csrf_token %} {%for field in form %}
          <div class="form-group">
            {%for error in field.errors%}
            <div
              class="alert alert-danger alert-dismissible fade show"
              role="alert"
            >
              {{error}}
            </div>
            {% endfor %}
            <label for="{{field.id_for_label}}">
              <b>{{ field.label }} : </b>
            </label>
            <div>
              {{field}}
            </div>
            {% if field.help_text %}
            <div>
              <p>{{field.help_text|safe}}</p>
            </div>
            {% endif %}
          </div>
          {% endfor %}
          <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Submit" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
