<!DOCTYPE html>
<html lang="es">
  <head> </head>
  <body>
    <h3>Activar cuenta de EasyExam</h3>
    Estimado usuario: <br />
    <p>
      <span
        >Usted ha sido integrado por el administrador a la plataforma
        EasyExam</span
      >
      <span>
        Por favor, para efectuar el proceso haga click
        <a href="{{ reset_url }}"> aqui</a>.
      </span>
      <span>
        Su contraseña es {{ password }}, para ingresar debe hacerlo con el
        correo al cual este email fue enviado.</span
      >
      <span>
        Por razones de seguridad, se recomienda fuertemente que cambie su
        contraseña apenas ingrese a la plataforma.</span
      >
    </p>
  </body>
</html>
