<!DOCTYPE html>
<html lang="es">
  <head> </head>
  <body>
    <h3>Restablecer contraseña EasyExam</h3>
    Estimado usuario: <br />
    <p>
      Usted ha requerido restablecer la contraseña de su cuenta de EasyExam.
    </p>
    <p>
      Por favor, para efectuar el proceso haga click en
      <a href="{{ reset_url }}"> aqui</a>.
    </p>
    <p>Si usted no ha sido, por favor ignore este email.</p>
    <p>
      Se le recuerda que el link quedara invalidado despues de tres dias, o bien
      cuando efectue el cambio de contraseña.
    </p>
  </body>
</html>
